

<div class="row">
    <h2 class="text-center">Page Not Found...</h2>
    <h5 class="text-center" style="color:dimgray">Please try again</h5>

    <div class="text-center" style="margin-top:25px;">
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home Page</a>
        <a class="btn btn-danger" asp-controller="Movies" asp-action="Index">Movies</a>
    </div>
</div>